body {
	margin: 20px 0 20px 0;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

header, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

.navbar-brand img.logo {
	position: relative;
	top: -25px;
}

.navbar-brand .logo-name {
	margin-left: 10px;
	position: relative;
	top: -26px;
	font-weight: bold;
	display: none;
}

@media (min-width: 768px) {
	.navbar-brand .logo-name {
		display: inline;
	}
}

.form-control {
	margin-bottom: 10px;
}

form input[type="submit"] {
	margin-top: 10px;
}

.emphasis {
	font-weight: bold;
}
