Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        
        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
	-----BEGIN&amp;nbsp;CERTIFICATE-----
	MIICiTCCAfICCQD6m7oRw0uXOjANBgkqhkiG9w0BAQUFADCBiDELMAkGA1UEBhMC
	VVMxCzAJBgNVBAgTAldBMRAwDgYDVQQHEwdTZWF0dGxlMQ8wDQYDVQQKEwZBbWF6
	b24xFDASBgNVBAsTC0lBTSBDb25zb2xlMRIwEAYDVQQDEwlUZXN0Q2lsYWMxHzAd
	BgkqhkiG9w0BCQEWEG5vb25lQGFtYXpvbi5jb20wHhcNMTEwNDI1MjA0NTIxWhcN
	MTIwNDI0MjA0NTIxWjCBiDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAldBMRAwDgYD
	VQQHEwdTZWF0dGxlMQ8wDQYDVQQKEwZBbWF6b24xFDASBgNVBAsTC0lBTSBDb25z
	b2xlMRIwEAYDVQQDEwlUZXN0Q2lsYWMxHzAdBgkqhkiG9w0BCQEWEG5vb25lQGFt
	YXpvbi5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMaK0dn+a4GmWIWJ
	21uUSfwfEvySWtC2XADZ4nB+BLYgVIk60CpiwsZ3G93vUEIO3IyNoH/f0wYK8m9T
	rDHudUZg3qX4waLG5M43q7Wgc/MbQITxOUSQv7c7ugFFDzQGBzZswY6786m86gpE
	Ibb3OhjZnzcvQAaRHhdlQWIMm2nrAgMBAAEwDQYJKoZIhvcNAQEFBQADgYEAtCu4
	nUhVVxYUntneD9+h8Mg9q6q+auNKyExzyLwaxlAoo7TJHidbtS4J5iNmZgXL0Fkb
	FFBjvSfpJIlJ00zbhNYS5f6GuoEDmFJl0ZxBHjJnyp378OD8uTs7fLvjx79LjSTb
	NYiytVbZPQUQ5Yaxu2jXnimvw3rrszlaEXAMPLE=
	-----END&amp;nbsp;CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
	-----BEGIN RSA&amp;nbsp;PRIVATE KEY-----
	MIIEpAIBAAKCAQEA26srASUPFfWSBn4WmC07MAq9D9sJqFYyI/6yZVT93emsFC/B
	2sIc4/tImp0r62QIQpbavv3hyqRbHVAfcLU8cENI4liN+Y7vTtw57yXV0U59UWJR
	sgOC8lsZy2fxlfq/rbPit7+NBqJr9h79gv1rmWD6xaFhElYuRLe3gRdZfNOZf+8t
	0Dq6v+YQ90DRbenPY52MCZs7LwWdVCel0ufBNNKiB723jFDhZDl9PYGFrBo0x3N1
	VV2MUOtZzCWB75GkFpfwmcTBP32LfAN3X3oAO5oLVEy+tqvHSzvzF/cTcbA6I58C
	wwiGeCSkCLMYTDlEhmybiJ75wKGfOmNoIa2JzQIDAQABAoIBAQCzjBmvatoEyd7c
	Xa0cH0RUhUJ5NkCTjjiXgTPRbYG/I6LaMRrTMnwowBhdAACI+w9hVipfl+Y5GtO6
	huXb2tcWr3hgQZ9yDql9nLXhydwVo4D8x08dII+khl/0CPbG7thDI1g5dmDPvmxe
	FICD051iFYmDhd9w/G3/Dub3pd0oD8u5a609O3Cco9TlN9GzkDWWKbUX9EyLRI8M
	+a/yaHwKIXk90Gy9nDkQ6nl/v6PaZDNqWmVrHzO+wnXZIqXUuQHYf/NsTPIlyqix
	mVh7fcWJbPmWGIVMG+X1zKdbmztLxHFp3UqK+lwx2TAjVobjQ3zU1jcfC3hIdwMk
	YfrXnQrFAoGBAP5Je1kng78hDWWa7qPac952Ja4jHYPxuKKyV3kghw93QXe18U/p
	1w/fRiII0ajM8+IkqH4Qj9IDRRvUsphzqAuJIxzd/ot5SR9MwE0qnwPeyf1bQUSM
	qUxG08R8lc6jo/u/kv9z0pq9olSaUln9UH7jJX085btHr3S7/K8d7I3HAoGBAN0l
	/JcHWLUDpiSAAyz9u65muxGY2nSz4Nd4UCTW7Qi53ZhWQQ8fGrno/PXP6j2tG55d
	9zdgnWNfU36WErgg/xM4FsVPIBQC7HZB9TaUimMEDu2IP7hTvoqDKyv7ZK08p9qX
	zQD7EO9RDqSIwBgaYEMv3jaetsbGwKDMK5wDMfvLAoGAMwTRP8EC2O0rv/AG408o
	IkE4LCkVeeycq9/2VvIkxwCZXQhfIzZ6lM+qRZfZYPHGGOBcAfcWs/899WiGcLn7
	xFy+c8NCl/88oZAHoTPk9aTUiAWwIa3LJeesA2cvs2b3tsHoH2LApZVYpXrU/QMr
	DFpMokT+nsWyOUyiVQw+8u8CgYEAoHP1Rqcf54YUP5tZsoUObUVAKU5cAhyY3/z9
	OR1vscsZSnQalBwfShAPqVIHRGSbC1ZmDhndV8JMVCYSwuG98HXbn6D/R0Wvx0Wn
	4sf3eEvzgMhAYz7vmpP8+NZXf5Hov6MwLKv854ZKN3q41UQd3+GVOtABEUwXaxN3
	+KQg2e0CgYBZI7ACOwqsE05qPt6Wnm3uETKkBsvlO3ZmZ/6yXlkgenq5ATSvdIrk
	KZr+o6H63FH+PGw+QgtBvfYtJk9B6cqOgn3bpC4iIIuIDtUfvGJdvMCD066NtklU
	/YlA1jWb5ycMfIjFAD6fEdjhYZLf+sFnx4uLAyhusNXgWqm75wbiTQ==
	-----END RSA&amp;nbsp;PRIVATE KEY-----

commands:
  01_update_composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

container_commands:
  02_init_db:
    command: php artisan migrate
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
