Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
	  
packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        
        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN&amp;nbsp;CERTIFICATE-----
      MIIDkjCCAnoCCQCGh30Ao3iP7TANBgkqhkiG9w0BAQUFADCBijELMAkGA1UEBhMC
      VVMxCzAJBgNVBAgMAkNBMRYwFAYDVQQHDA1Nb3VudGFpbiBWaWV3MSIwIAYDVQQK
      DBlTb3V0aCBCYXkgVm9sbGV5YmFsbCBDbHViMQ4wDAYDVQQDDAVTQlZCQzEiMCAG
      CSqGSIb3DQEJARYTd2VibWFzdGVyQHNidmJjLm9yZzAeFw0xNDA1MjcxMDA0MTRa
      Fw0xNTA1MjcxMDA0MTRaMIGKMQswCQYDVQQGEwJVUzELMAkGA1UECAwCQ0ExFjAU
      BgNVBAcMDU1vdW50YWluIFZpZXcxIjAgBgNVBAoMGVNvdXRoIEJheSBWb2xsZXli
      YWxsIENsdWIxDjAMBgNVBAMMBVNCVkJDMSIwIAYJKoZIhvcNAQkBFhN3ZWJtYXN0
      ZXJAc2J2YmMub3JnMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwsJo
      ZzrC+Pne7GNSE+jcO57r+8nDEs/Uuij37f8u56Ko+mpID4MclwghcPLb+twH3yqz
      c/dmGDHSEatBo+7PeDGJB9vxX+fkEsWvci1ghS1FbcKX8W+XsFwoQnN6Kx+TQopf
      W07EeJr+EAPkE0KBxbbcbs7J2JDtDda14/VT7PWZC+ZvvRfqp6ciEBLITzzFqfxB
      GD8CV8yfecbBtBXhyZGyqCt7xXRf2TosrvRsTAXm3Clhxhky1aEaAWQVFCWTjgI/
      FluE0H7Gu7k47yU+Hn5JC7FTg8UsJJdKoVnShOWWaOD7jOhj1OxV+LLoF82FrQTy
      G1C3xyXf+Gx6VuYOmQIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQBpdKyEP923rkD3
      GACLHH7EZO7Lf0TcP3V0BF+zvY0cJgeppBZ0CRwu34UdPsd4/dafnhG/Vs84DkuM
      PE0ODoA+n8K4i6PtGhqTMy6gNMPMlewixyhGwxbtTgR6wUqK4FfbVBfMrXo31+Ig
      ocfEsionGiYTPvGTLg8nIrt7059n3S2C0OBotfxmmULmZkQOBubsiqpXOW85yZUN
      qx3siXiyZfyGHh4EL3FsqhL0BSbybva05guX87oON55xx/tbicva/yaIkoDNFyln
      QC7iB/CbQjkkVakbXH6rJIs7/YkHpLq+WidAWEHRt0kcmMA7M+sRXQqnI4ed4BxE
      DbAnVBpI
      -----END&amp;nbsp;CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA&amp;nbsp;PRIVATE KEY-----
      MIIEpQIBAAKCAQEAwsJoZzrC+Pne7GNSE+jcO57r+8nDEs/Uuij37f8u56Ko+mpI
      D4MclwghcPLb+twH3yqzc/dmGDHSEatBo+7PeDGJB9vxX+fkEsWvci1ghS1FbcKX
      8W+XsFwoQnN6Kx+TQopfW07EeJr+EAPkE0KBxbbcbs7J2JDtDda14/VT7PWZC+Zv
      vRfqp6ciEBLITzzFqfxBGD8CV8yfecbBtBXhyZGyqCt7xXRf2TosrvRsTAXm3Clh
      xhky1aEaAWQVFCWTjgI/FluE0H7Gu7k47yU+Hn5JC7FTg8UsJJdKoVnShOWWaOD7
      jOhj1OxV+LLoF82FrQTyG1C3xyXf+Gx6VuYOmQIDAQABAoIBAQCzcKb8pXlKJ/4q
      UgAnc96l1/CY1fYzeOUIeAKmdvziUk3aGt413JkU1lrpU/k2Ek/2X8NjT0fzdsOT
      n/QkdD0XApy8bvrfYCoU2aqiSgip62ISlL2lpyldRiuZvgeLf9YP8qmU2OfQLw1x
      +APFcvtaDPbf6QqzzCN9IpwHYdtnb+szy5PnK+1D+JhIPAmKvfwjpD7AlpP1Re+3
      STI2d7FxeR9RgpPxgsUY2WxoWnesG/VOLk3TzyMBwFIyPacyNaqPZsl2NpBsBtzD
      L8luzEgZUmjuL+5fXdy2/zRMJeacJrBkTo0XxbyRzTpBX3kmEJBemZjAtdn/2i5T
      rfIk7AK5AoGBAPiXTTYtXLHslIXnrY2FpXcHhQS/b781IJonGtlZ0BpwDvPXQSBr
      F40PZ9bXlQ/rOvW8CklnLfdwA66wDqexvvHU/lYBE+VVuQsr2l0hud/Om+PlWPNM
      mfCNsDKn82kjXpcimJ7f0gFd/eN7rS6hrx1w4v7+r/5oJxU2JivTw/VzAoGBAMiQ
      Yc4bpCxCEIO3gAIkYaVnx1AiWX+tuajtQTBNI3I6oGTw1zROIeGAbBPY9FWb8BEk
      lVBxuNPK4M4IKoHYewv25FARrQqwoLVfMl570Lw2yrPnR9jjWXqSBwV5m2EAzm7x
      fmDFMNJggSGXxHK+33AMRE+LPQVbE7oOHwohj4jDAoGASyRhAHlhxZ5/nqJTQa4e
      QAaT3MWJH8ENY8tiQET3tKYevvJYC1aTvd3kQ3rS4gb2wYTfjySTLnI7irhJFcOS
      tkLtxk15GB97WbcdwH0LVG19jbur0Y9cEOyjUAyYdTVtyD166Ls7HZKtxe+Cf8/7
      wOh4lR+jT0FoXu8JRsIyP6UCgYEAwr5G6Y03XO4NAQhlWC8hTS02f93Kj0oNUzSE
      LrVH7Lt2UGz2WUhgZ4h96Mupe5K9iLe/7+tsbuG4ZPXS6F9eIuDpEcIIBrA4a8Py
      sYGBza9aJVM2FSe0E2rFPJC2yXqx91Gvx6DQ5gVkfUzTKCOj6zVOAvqNFq03u1nI
      09qAd2cCgYEA10gc7LUJlqKmNuVpBneRw7sfGlAaV/sIHmSZMXPs3kiKBcTjpyEl
      BGsPChHjpZ0IqzBLhSA56yA4GquObdgs11hxYTAyeVy94wanuVtAB9y2n4oV9c0M
      5KI5QKYr7a+gz818Zvxb3PLfDsap6nh4D1lRfl2A8RcHYBZb0pSSNr0=
      -----END RSA&amp;nbsp;PRIVATE KEY-----

commands:
  01_update_composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

container_commands:
  02_init_db:
    command: php artisan migrate
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
